#map { 
    width: 800px; 
    height: 500px; 
}

.seatIcon {
    background-color: #f0ffffb0;
    white-space: nowrap;
    height: 16px;
    border: solid 1px #000000;
}

.statusName {
    font-size: 17px;
    font-weight: bold;
}

.space {
    height: 10px;
}

.statusItemTitle {
    font-size: 15px;
    margin-top: 10px;
}
